/* media-queries.css */
@media (max-width: 1200px) {
    /* Adjustments for medium-sized screens */
    .search {
      width: 90%; /* Adjust width to fit within smaller screens */
      max-width: 350px; /* Set maximum width */
      margin: 150px auto; 
    }
  }
  
  @media (max-width: 1024px) {
    .search {
      width: 90%; /* Adjust width to fit within smaller screens */
      max-width: 350px; /* Set maximum width */
      margin: 20px auto;
    }
    .button-src button {
      padding: 0.6rem 1rem; 
      width: auto; /* Adjust width to fit content */
      font-size: 1rem; /* Set font size to a relative value */
      margin-left: 0; /* Remove margin */
    }
    .buton{
      font-size: 23px; /* Fix typo in class name */
    }
  }
  
  @media (max-width: 425px) {
    /* Adjustments for mobile devices */
    .search {
      width: 90%;
      max-width: 300px; /* Set a maximum width */
      margin: 30px auto;
    }
  
    .search input {
      width: 100%; 
      max-width: 250px;
    }
  
    .button-src button {
      padding: 8px 20px;
      font-size: 14px;
      margin: 7px 5px;
    }
  }
  
  @media (max-width: 768px) {
    /* Adjustments for tablet-sized screens */
    .search {
      width: 90%;
      max-width: 360px; /* Set a maximum width */
      margin: auto;
      transition: 1s ease;
      margin-left: 3px;
    }
    
    .button-src button {
      margin-left: 0;
      border-radius: 50%;
      font-size: 0.8rem; 
    }
  }
  
  @media (max-width: 576px) {
    /* Adjustments for mobile devices */
    textarea {
      max-width: 90%; /* Set a maximum width */
    }
  
    #copyButton {
      padding: 0.3rem 0.6rem; /* Further reduce button padding */
      font-size: 0.8rem; /* Further reduce font size for buttons */
    }
  
    .button-src button {
      padding: 6px 12px;
      font-size: 0.7rem;
      margin: 7px 5px;
    }
  }
